<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.csxiong.uiux">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="me.csxiong.library.base.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 注入全局配置 -->
        <meta-data
            android:name="me.csxiong.uiux.config.MainGlobalConfig"
            android:value="@string/GlobalConfig" />

        <activity android:name=".ui.capture.CaptureViewActivity" />

        <activity android:name=".ui.capture.NewCaptureViewActivity" />

        <activity android:name=".ui.gesture.GestureViewActivity" />

        <activity android:name=".ui.polygon.PolygonActivity" />

        <activity android:name=".ui.seek.SeekBarActivity" />

        <activity android:name=".ui.radar.RadarActivity" />

        <activity android:name=".ui.dataMask.DataMaskActivity"/>

        <activity android:name=".ui.blur.BlurActivity"/>

        <activity android:name=".ui.gradient.GradientViewAcitivity"/>

        <activity android:name=".ui.fliper.FliperActivity"/>

        <activity android:name="me.csxiong.uiux.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>